<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation">
</nav>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 p-5 pe-5">
        <h1 th:replace="fragments :: banner"></h1>
        <hr/>
        <div th:if="${orderInfo}" class="alert alert-success fade show" role="alert">
            <strong th:text="${orderInfo}"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <table class="table table-striped" th:each="order : ${orders}" th:object="${order}">
                <tr>
                    <td th:text="${'Order for: '+order.farmer.getFarmName()}"></td>
                    <td th:text="${'Order placed: '+order.localDateTime}"></td>
                    <td>
                        <button th:text="${ order.confirmed ?  'Confirmed' : 'Not Confirmed' }" th:class="${ order.confirmed ?  'btn btn-success' : 'btn btn-danger' }" disabled></button>
                    </td>
                    <td>
                        <button th:text="${ order.fulfilled ?  'Fulfilled' : 'Not Fulfilled' }" th:class="${ order.fulfilled ?  'btn btn-success' : 'btn btn-danger' }" disabled></button>
                    </td>
                    <td>
                        <a th:href="@{/order/details/{orderId}(orderId=*{id})}" class="btn btn-info" role="button">Details</a>
                    </td>
                </tr>
        </table>


    </div>
</div>
<footer th:replace="fragments :: footer">
</footer>
</body>
</html>