<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation">
</nav>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 p-5 pe-5">
        <h1 th:replace="fragments :: banner"></h1>
        <hr/>
<!--        Display current shopping basket here-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="4">Shopping Cart</th>
            </tr>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Total Price</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tr th:each="productToBuy : ${currentShoppingBasketItems}" th:object="${productToBuy}">
                <td><img th:if="*{product.productDetails.picture != null}" th:src="@{'/'+*{product.productDetails.picture}}" th:alt="*{'Picture of'+product.name}" width="90" height="100"/></td>
                <td th:text="*{product.name}"></td>
                <td th:text="'$'+*{product.ProductDetails.price*quantity}"></td>
                <td> <p th:text="*{quantity + ' ' + product.measurementCategory.name}"></p></td>
            </tr>
            <tr>
                <th colspan="4" th:text="${'Total Amount $'+currentShoppingBasket.totalAmount}"></th>
            </tr>
        </table>
        <form method="post" th:action="@{/order/{id}(id=${currentShoppingBasket.id})}" >
            <input type="hidden" name="basketId" th:value="${currentShoppingBasket.id}">
            <input type="submit" value="Checkout" class="btn btn-primary">
        </form>


        <form method="post" th:object="${shoppingBasket}">
            <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Product Category</th>
                <th>Product Description</th>
                <th>Price</th>
                <th>Purchase</th>
            </tr>
            </thead>
            <tr th:each="basketItem, itemStat : ${shoppingBasket.basketItemsAvailable}">
                                <td><img th:if="${basketItem.product.productDetails.picture != null}" th:src="@{'/'+${basketItem.product.productDetails.picture}}" th:alt="${'Picture of'+basketItem.product.name}" width="90" height="100"/></td>
                                <td th:text="${basketItem.product.name}"></td>
                                <td th:text="${basketItem.product.productCategory}"></td>
                                <td th:text="${basketItem.product.ProductDetails.description}"></td>
                                <td th:text="'$'+${basketItem.product.ProductDetails.price}"></td>
                                <input type="hidden" th:field="*{basketItemsAvailable[__${itemStat.index}__].id}">
                                <input type="hidden" th:field="*{basketItemsAvailable[__${itemStat.index}__].product}">
                                <td><input  th:field="*{basketItemsAvailable[__${itemStat.index}__].quantity}"  type="number" min="0" step="any"/> <p th:text="${basketItem.product.measurementCategory.name}"></p></td>
                <td><input type="submit" class="btn btn-primary" value="Add Items to Cart" /></td>
            </tr>
            </table>
            <input type="hidden" name="basketId" th:value="${currentShoppingBasket.id}">
            <input type="submit" class="btn btn-primary" value="Add Items to Cart" />

        </form>
    </div>
</div>
<footer th:replace="fragments :: footer">
</footer>
</body>
</html>