
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation">
</nav>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 p-5 pe-5">
        <h1 th:replace="fragments :: banner"></h1>
        <hr/>
        <form method="post" th:action="@{/productType/test}{}" enctype="multipart/form-data" th:object="${product}">
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Product Category</th>
        <th>Price</th>
        <th>Amount Available</th>
        <th>Current Availability</th>
        <th>Save Quick Edits</th>
        <th>Edit</th>
        <th></th>
    </tr>


    <!--Would be nice to organize these by category-->
    </thead>
    <!--    Should have a navbar here that will stick to the top of the page and allows for searching through products-->
    <tr th:each="currentProduct : ${product}" th:object="${currentProduct}">
        <td><img th:if="${currentProduct.productDetails.picture != null}" th:src="@{'/'+*{productDetails.picture}}" th:alt="*{name}" width="90" height="100"/></td>
        <td th:text="*{name}"></td>
        <td th:text="*{productCategory}"></td>
        <form method="post" th:action="@{/farmer/edit/quickedit}" >
            <td>
                <input class="form-control" name="price" th:value="*{productDetails.price}" type="number" step="any" min="0" required>
            </td>
            <td>
                <input class="form-control" name="quantity" th:value="*{productDetails.quantity}" required><p th:text="*{measurementcategory.name}"></p>
            </td>
            <td>
                <input class="form-control form-check-input"
                       name="status"
                       th:checked="*{productDetails.status}"
                       type="checkbox"
                >
            </td>
            <td>
                <input type="hidden" th:value="*{id}" name="productId">
                <input type="submit" class="btn btn-primary" value="Save" />
            </td>
        </form>
        <td>
            <a th:href="@{/farmer/edit/{productToEditId}(productToEditId=${currentProduct.id})}"><button class="btn btn-warning">Edit</button></a>
        </td>
        <td>
            <form method="post" th:action="@{/farmer/{productToDeleteId}(productToDeleteId=${currentProduct.id})}">
                <input type="hidden" name="productToDelete" th:value="${currentProduct}" />
                <input onclick = "if (! confirm('Are you sure you want to delete this product?')) { return false; }" type="submit" class="btn btn-danger" value="Delete Product" />
            </form>
        </td>
    </tr>
</table>
        </form>
</div>
</div>


</body>
<footer th:replace="fragments :: footer">
</footer>
</html>