<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
    <nav th:replace="fragments :: navigation">
    </nav>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 p-5 pe-5">
            <h1 th:replace="fragments :: banner"></h1>
            <hr/>
            <!--Success banner here for when product added successfully-->
            <form method="post" enctype="multipart/form-data" th:object="${product}">
                <div class="form-group">
                    <label th:for="name">Name
                        <input class="form-control" th:field="*{name}">
                    </label>
                    <p class="error" th:errors="*{name}"></p>
                </div>
                <div class="form-group">
                    <label th:for="productCategory">Product Category
                        <select class="form-control" th:field="*{productCategory}">
                            <option th:each="category : ${productType}"
                                    th:value="${category.id}"
                                    th:text="${category.name}">
                            </option>
                        </select>
                        <a th:href="@{/productType/add}">Add More Categories</a>
                    </label>
                    <p class="error" th:errors="*{productCategory}"></p>
                </div>
                <div class="form-group">
                            <label th:for="amount">Quantity
                                <input class="form-control" th:field="*{productDetails.quantity}">
                            </label>
                            <p class="error" th:errors="*{productDetails.quantity}"></p>
                    <label th:for="measurementcategory">Measurement
                        <select class="form-control" th:field="*{measurementcategory}">
                            <option th:each="measurement : ${measurements}"
                                    th:value="${measurement.id}"
                                    th:text="${measurement.name}">
                            </option>
                        </select>
                        <a th:href="@{/measurements/add}">Add Custom Measurements</a>
                    </label>
                    <p class="error" th:errors="*{measurementcategory}"></p>
                </div>
                <div class="form-group">
                    <label th:for="price">Price
                        <input class="form-control" th:field="*{productDetails.price}" type="number" step="any">
                    </label>
                    <p class="error" th:errors="*{productDetails.price}"></p>
                </div>
                <div class="form-group">
                    <label th:for="description">Description
                        <input class="form-control" th:field="*{productDetails.description}" type="text">
                    </label>
                    <p class="error" th:errors="*{productDetails.description}"></p>
                </div>
                <div class="form-group">
                    <label th:for="picture">Picture
                        <input class="form-control" name="picture" value="picture" type="file" accept="image/jpeg">
                        <p class="error" th:if="${pictureError}" th:text="${pictureError}"></p>
                    </label>
                </div>
                <div class="form-group">
                    <label th:for="status">Currently Available
                        <input class="form-control form-check-input" th:field="*{productDetails.status}" type="checkbox">
                    </label>
                    <p class="error" th:errors="*{productDetails.status}"></p>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Add Product" />
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Product Category</th>
                    <th>Price</th>
                    <th>Amount Available</th>
                    <th>Current Availability</th>
                    <th>Edit</th>
                </tr>


                <!--Would be nice to organize these by category-->
                </thead>
                <!--    Should have a navbar here that will stick to the top of the page and allows for searching through products-->
                <tr th:each="product : ${products}" th:object="${product}">
                    <td><img th:if="${product.productDetails.picture != null}" th:src="@{'/'+*{productDetails.picture}}" th:alt="*{name}" width="90" height="100"/></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{productCategory}"></td>
                    <td th:text="'$'+*{ProductDetails.price}"></td>
                    <td th:text="*{ProductDetails.quantity+' '+measurementcategory.name}"></td>
                    <td th:text="*{ProductDetails.status}"></td>
                    <td>
                        <a th:href="@{/farmer/edit/{productToEditId}(productToEditId=${product.id})}">Edit</a>
                    </td>
                 </tr>
            </table>
        </div>
    </div>
    <footer th:replace="fragments :: footer">
    </footer>

</body>
</html>
