<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation">
</nav>
  
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 p-5 pe-5">
        <h1 th:replace="fragments :: banner"></h1>
        <hr/>

        <div th:if="${productAdded}" class="alert alert-success fade show" role="alert">
            <strong th:text="${productAdded}"></strong> was successfully added.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div th:if="${measurementAdded}" class="alert alert-success fade show" role="alert">
            <strong th:text="${measurementAdded}"></strong> was successfully added to measurements.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div th:if="${categoryAdded}" class="alert alert-success fade show" role="alert">
            <strong th:text="${categoryAdded}"></strong> was successfully added to categories.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form method="post" enctype="multipart/form-data" th:object="${product}">
            <div class="form-group">
                <label th:for="name">Name
                    <input class="form-control" th:field="*{name}">
                </label>
                <p class="error" th:errors="*{name}"></p>
            </div>
            <div class="form-group">
                <label th:for="productCategory">Product Category
                    <select class="form-control" th:field="*{productCategory}">
                        <option th:each="category : ${productType}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                        </option>
                    </select>
                    <a th:href="@{/productType/add}">Add More Categories</a>
                </label>
                <p class="error" th:errors="*{productCategory}"></p>
            </div>
            <div class="form-group">
                <label th:for="amount">Quantity
                    <input class="form-control" th:field="*{productDetails.quantity}">
                </label>
                <p class="error" th:errors="*{productDetails.quantity}"></p>
                <label th:for="measurementCategory">Measurement
                    <select class="form-control" th:field="*{measurementCategory}">
                        <option th:each="measurement : ${measurements}"
                                th:value="${measurement.id}"
                                th:text="${measurement.name}">
                        </option>
                    </select>
                    <a th:href="@{/measurements/add}">Add Custom Measurements</a>
                </label>
                <p class="error" th:errors="*{measurementCategory}"></p>
            </div>
            <div class="form-group">
                <label th:for="price">Price
                    <input class="form-control" th:field="*{productDetails.price}" type="number" step="any" min="0">
                </label>
                <p class="error" th:errors="*{productDetails.price}"></p>
            </div>
            <div class="form-group">
                <label th:for="description">Description
                    <input class="form-control" th:field="*{productDetails.description}" type="text">
                </label>
                <p class="error" th:errors="*{productDetails.description}"></p>
            </div>
            <div class="form-group">
                <label th:for="picture">Picture
                    <input class="form-control" name="picture" value="picture" type="file" accept="image/jpeg" onchange="()=>{
                               if(this.files[0].size > 2097152){
                        alert('File is too big!');
                        this.value = '';
                        };
                        };">
                    <p class="error" th:if="${pictureError}" th:text="${pictureError}"></p>
                </label>
            </div>
            <div class="form-group">
                <label th:for="status">Currently Available
                    <input class="form-control form-check-input" th:field="*{productDetails.status}" type="checkbox">
                </label>
                <p class="error" th:errors="*{productDetails.status}"></p>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Add Product" />
        </form>



<!--        <h1>Product Search<</h1>-->
<!--        <form action="/search" method="post">-->
<!--            <label for="productName">Product Name:</label>-->
<!--            <input type="text" id="productName" name="productName"><br>-->
<!--            <label for="productCategoryName">product Category:</label>-->
<!--            <input type="text" id="productCategoryName" name="productCategoryName"><br>-->
<!--            <label for="measurementCategoryName">Measurement Category:</label>-->
<!--            <input type="text" id="measurementCategoryName" name="measurementCategoryName"><br>-->
<!--            <label for="price">Price:</label>-->
<!--            <input type="number" id="price" name="price"><br>-->
<!--            <input type="submit" value="Search">-->
<!--?-->
<!--        <ul>-->
<!--            <li th:each="product : ${products}">-->
<!--                <span th:ext="${product.name}"></span>-->
<!--                <span th:text="${product.productCategory.name}"><span>-->
<!--            <span th;text="${product.measurementCategory.name}"></span>-->
<!--            <span th:text="${product.productDetails.price}"></span>-->
<!--            </li>-->
<!--        </ul>-->

        <!--    <nav class="navbar text-center" style="background-color: #e9e9d1">-->
        <!--        <form method="post" enctype="multipart/form-data" th:object="${product}">-->
        <!--            <div class="form-row">-->
        <!--                &lt;!&ndash;                    <h4 class="col-form-label pb-3">Search for item</h4>&ndash;&gt;-->
        <!--                <div class="row px-1">-->
        <!--                    <div class="form-group col-lg-2 col-md-3 col-sm-4 col-6">-->
        <!--                        <label for="testVar">Picture</label>-->
        <!--                        <input type="number" class="form-control" id="testVar" name="picture" min="0" max="40" />-->
        <!--                    </div>-->
        <!--                    <div class="form-group col-lg-2 col-md-3 col-sm-4 col-6">-->
        <!--                        <label for="testVar">Item Name</label>-->
        <!--                        <input type="number" class="form-control" id="testVar1" name="testVar" min="0" max="40" />-->
        <!--                    </div>-->
        <!--                    <div class="form-group col-lg-2 col-md-3 col-sm-4 col-6">-->
        <!--                        <label for="testVar">Product Category</label>-->
        <!--                        <input type="number" class="form-control" id="testVar2" name="testVar" min="0" max="40" />-->
        <!--                    </div>-->
        <!--                    <div class="form-group col-lg-2 col-md-3 col-sm-4 col-6">-->
        <!--                        <label for="testVar">Price</label>-->
        <!--                        <input type="number" class="form-control" id="testVar3" name="testVar" min="0" max="40" />-->
        <!--                    </div>-->
        <!--                    <div class="form-group col-lg-2 col-md-3 col-sm-4 col-6">-->
        <!--                        <label for="testVar">Amount Available</label>-->
        <!--                        <input type="number" class="form-control" id="testVar4" name="testVar" min="0" max="40" />-->
        <!--                    </div>-->
        <!--                    <div class="form-group col-lg-2 col-md-3 col-sm-4 col-6">-->
        <!--                        <label for="testVar">Current Availability</label>-->
        <!--                        <input type="number" class="form-control" id="testVar5\" name="testVar" min="0" max="40" />-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <br>-->
        <!--            <div class="text-center"><button class="btn btn-primary btn-block col-lg-2" type="submit">Search</button></div>-->
        <!--        </form>-->
        <!--    </nav>-->
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" th:each="currentProduct : ${products}" th:object="${currentProduct}">
            <div class="card">
                <div class="image-container">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span><i class="nf fa-heart-o"></i></span>
                        </div>
                    </div>
                    <img th:if="${currentProduct.productDetails.picture != null}" th:src="@{'/'+*{productDetails.picture}}" th:alt="*{name}" width="100%"/>
                </div>
                <div class="p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 th:text="*{name}"></h5>
                        <div class="d-flex flex-column mb-2">
                            <small class="text-right" th:text="*{productDetails.price}">$0.00</small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            Available: <span th:text="*{productDetails.quantity}">0</span>
                        </div>
                        <span th:text="*{productCategory}">Category</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <input type="hidden" th:value="*{id}" name="productId">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <a th:href="@{/farmer/edit/{productToEditId}(productToEditId=${currentProduct.id})}"><button class="btn btn-warning">Edit</button></a>
                        <form method="post" th:action="@{/farmer/{productToDeleteId}(productToDeleteId=${currentProduct.id})}">
                            <input type="hidden" name="productToDelete" th:value="${currentProduct}" />
                            <input onclick = "if (! confirm('Are you sure you want to delete this product?')) { return false; }" type="submit" class="btn btn-danger" value="Delete Product" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments :: footer">
</footer>
</html>