<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation">
</nav>

<div class="container px-4 px-lg-5">
    <div class="row">
        <h2>Add New Item</h2>
        <div class="col-md-3">
            <div class="card">
                <div class="image-container">
                            <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span><i class="nf fa-heart-o"></i></span>
                        </div>
                    </div>
                    <img th:src="@{../../../assets/img/STL-Farms-Icon-Large.png}" width="100%"/>
                </div>
                <div class="p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>Name</h5>
                        <div class="d-flex flex-column mb-2">
                            <small class="text-right">$0.00</small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            Available: <span>0</span>
                        </div>
                        <span>Category</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <input type="submit" class="btn btn-warning" value="Add to Cart" />
                        <input type="number" class="" value="0" style="width: 50%" disabled/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col">
            <form method="post" enctype="multipart/form-data" th:object="${product}" style="width: 75% !important">
                <div class="form-group padding-bottom">
                        <span class="input-group-text"><i class="nf nf-md-new_box padding-right"></i>
                            <input name="" class="form-control" placeholder="Name" type="text" th:for="name" th:field="*{name}">
                        </span>
                    <p class="error" th:errors="*{name}"></p>
                </div>
                <div class="form-group" style="padding-bottom: 10px;">
                        <span class="input-group-text"><i class="nf nf-md-library_shelves padding-right"></i>
                            <select class="form-control" name="productCategory" id="productCategory">
                                <option value="" th:selected="${true}" disabled>Select product category</option>
                                <option th:each="category : ${productType}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>
                            <a style="margin-left: 10px;" class="btn btn-success" th:href="@{/productType/add}">Add More Categories</a>
                        </span>
                    <p class="error" th:errors="*{productCategory}"></p>
                </div>
                <div class="form-group" style="padding-bottom: 10px;">
                        <span class="input-group-text"><i class="nf nf-md-tape_measure padding-right"></i>
                            <select class="form-control" name="measurementCategory" id="measurementCategory">
                                <option value="" th:selected="${true}" disabled>Select measurement category</option>
                                <option th:each="measurement : ${measurements}"
                                        th:value="${measurement.id}"
                                        th:text="${measurement.name}">
                                </option>
                            </select>
                            <a style="margin-left: 10px;" class="btn btn-success" th:href="@{/measurements/add}">Add Custom Measurements</a>
                        </span>
                    <p class="error" th:errors="*{measurementCategory}"></p>
                </div>
                <div class="form-group padding-bottom">
                        <span class="input-group-text"><i class="nf nf-fa-money padding-right"></i>
                            <input name="" class="form-control" placeholder="Price" th:field="*{productDetails.price}" type="number" step="any" min="0">
                        </span>
                    <p class="error" th:errors="*{productDetails.price}"></p>
                </div>
                <div class="form-group padding-bottom">
                        <span class="input-group-text"><i class="nf nf-md-numeric padding-right"></i>
                            <input class="form-control" placeholder="Quantity" th:field="*{productDetails.quantity}" type="number" step="any" min="0">
                        </span>
                    <!--                        The placeholder field will not display the way I want and I'm not sure why. Will figure out later-->
                    <p class="error" th:errors="*{productDetails.quantity}"></p>
                </div>
                <div class="form-group padding-bottom">
                        <span class="input-group-text"><i class="nf nf-md-text padding-right"></i>
                            <input name="" class="form-control" placeholder="Description" th:for="description" th:field="*{productDetails.description}" type="text">
                        </span>
                    <p class="error" th:errors="*{productDetails.description}"></p>
                </div>
                <div class="form-group padding-bottom">
                        <span class="input-group-text"><i class="nf nf-fa-file_picture_o padding-right"></i>
                            <input class="form-control" name="picture" value="picture" type="file" accept="image/jpeg" onchange="()=>{
                                       if(this.files[0].size > 2097152){
                                alert('File is too big!');
                                this.value = '';
                                };
                                };">
                        </span>
                    <p class="error" th:if="${pictureError}" th:text="${pictureError}"></p>
                </div>
                <div class="form-group">
                        <span class="input-group-text" th:for="status"><i class="nf nf-fa-question_circle_o padding-right"></i>
                            <span class="padding-right">Currently Available</span>
                            <input class="form-control form-check-input" th:field="*{productDetails.status}" type="checkbox">
                        </span>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Add Product" />
            </form>
        </div>
    </div>
    <div id="alert" class="row gx-4 gx-lg-5 p-5 pe-5">
        <div th:if="${productAdded}" class="alert alert-success fade show" role="alert">
            <strong th:text="${productAdded}"></strong> was successfully added.
            <button type="button" onclick="hide()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${measurementAdded}" class="alert alert-success fade show" role="alert">
            <strong th:text="${measurementAdded}"></strong> was successfully added to measurements.
            <button type="button" onclick="hide()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${categoryAdded}" class="alert alert-success fade show" role="alert">
            <strong th:text="${categoryAdded}"></strong> was successfully added to categories.
            <button type="button" onclick="hide()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div id="search"></div>
<div class="overflow-auto" style="max-width: 100%; max-height: 600px; overflow-x: hidden !important;">
    <h2>All Items</h2>
    <form method="get" th:action="@{/farmer/add}">
    <label >Product Info:</label>
    <input type="text" id="info" name="info">
    <input type="submit" value="Search">
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>
    <table class="table table-striped">
        <thead>
        <tr class="sticky-top" style="background-color: #e9e9d1">
            <th></th>
            <th>Name</th>
            <th>Product Category</th>
            <th>Price</th>
            <th>Amount Available</th>
            <th>Current Availability</th>
            <th></th>
        </tr>
        </thead>
        <!--    Should have a navbar here that will stick to the top of the page and allows for searching through products-->
        <tr th:each="currentProduct : ${products}" th:object="${currentProduct}">
            <td><img th:if="${currentProduct.productDetails.picture != null}" th:src="@{'/'+*{productDetails.picture}}" th:alt="*{name}" width="90" height="100"/></td>
            <td th:text="*{name}"></td>
            <td th:text="*{productCategory}"></td>
            <form method="post" th:action="@{/farmer/edit/quickedit}" >
                <td>
                        <span class="input-group-text">
                            <input class="form-control" name="price" th:value="*{productDetails.price}" type="number" step="any" min="0" required>
                        </span>
                </td>
                <td>
                        <span class="input-group-text">
                            <input class="form-control" name="quantity" th:value="*{productDetails.quantity}" required><span style="padding-left: 10px;" th:text="*{measurementCategory.name}"></span>
                        </span>
                </td>
                <td>
                    <input class="form-control form-check-input"
                           name="status"
                           th:checked="*{productDetails.status}"
                           type="checkbox"
                    >
                </td>
                <td>
                    <input type="hidden" th:value="*{id}" name="productId">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </td>
            </form>
        </tr>
    </table>
</div>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/farmer/add}]]";
    }

    function hide() {
        var x = document.getElementById("alert");
        x.style.display = "none";
    }
</script>
</div>
</body>
<footer th:replace="fragments :: footer">
</footer>
</html>