<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation">
</nav>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 p-5 pe-5">
        <h1 th:replace="fragments :: banner"></h1>


        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="nf nf-md-order_bool_ascending_variant"></h1>
                        <h5 class="card-title">Orders</h5>
                        <p class="card-text">See Current Orders</p>
                        <a th:href="@{/orders/{farmName}/Open(farmName=${farmName})}" class="btn btn-primary">See Your Orders</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="nf nf-fa-shopping_bag"></h1>
                        <h5 class="card-title">Products</h5>
                        <p class="card-text">Quickly create and edit your products</p>
                        <a th:href="@{/farmer/add}" class="btn btn-primary">All Your Products</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="nf nf-md-store_outline"></h1>
                        <h5 class="card-title">Store</h5>
                        <p class="card-text">See what customers see</p>
                        <a th:href="@{/farmer/products}" class="btn btn-primary">Go To Your Store</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="nf nf-md-store_search_outline"></h1>
                        <h5 class="card-title">Search</h5>
                        <p class="card-text">Search through all of your submitted products</p>
                        <a th:href="@{/farmer/search}" class="btn btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="nf nf-fa-user"></h1>
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">Edit your Information</p>
                        <a th:href="@{/farmer/profile}" class="btn btn-primary">Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="nf nf-cod-settings_gear"></h1>
                        <h5 class="card-title">Settings</h5>
                        <p class="card-text">Customize user settings</p>
                        <a th:href="@{/farmer/settings}" class="btn btn-primary">Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments :: footer">
</footer>
</body>
</html>
