<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation">
</nav>
<h1> Dashboard </h1>
<!--just a very simple html to test something -->
<p>To see Available Products  click this link =><a href="/farmer/products">Available Products</a></p>
<p>To add new products click this link =><a href="/farmer/add">Add product</a></p>



<footer th:replace="fragments :: footer">
</footer>
</body>
</html>
