<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<h1 th:replace="fragments :: navigation"></h1>

<form method="post" enctype="multipart/form-data" th:object="${profileFarmerToEdit}">
    <div class="form-group">
        <label>Farm Name
            <input class="form-control" th:field="*{farmName}" />
        </label>
        <p class="error" th:errors="*{farmName}"></p>
    </div>
    <div class="form-group">
        <label>First Name
            <input class="form-control" th:field="*{firstName}" />
        </label>
        <p class="error" th:errors="*{firstName}"></p>
    </div>
    <div class="form-group">
        <label>Last Name
            <input class="form-control" th:field="*{lastName}" />
        </label>
        <p class="error" th:errors="*{lastName}"></p>
    </div>
    <div class="form-group">
        <label>Address
            <input class="form-control" th:field="*{address}" type="text"/>
        </label>
        <p class="error" th:errors="*{address}"></p>
    </div>
    <div class="form-group">
        <label>City
            <input class="form-control" th:field="*{city}" type="text"/>
        </label>
        <p class="error" th:errors="*{city}"></p>
    </div>
    <div class="form-group">
        <label>ZIP
            <input class="form-control" th:field="*{zip}" type="text" required pattern="\d{5,5}(-\d{4,4})?" />
        </label>
        <p class="error" th:errors="*{zip}"></p>
    </div>
    <div class="form-group">
        <label>Phone Number
            <input class="form-control" th:field="*{phone}" />
        </label>
        <p class="error" th:errors="*{phone}"></p>
    </div>
    <div class="form-group">
        <label>Email
            <input class="form-control" th:field="*{email}" type="email"/>
        </label>
        <p class="error" th:errors="*{email}"></p>
    </div>
    <div class="form-group">
        <label th:for="picture">Picture
            <input class="form-control" name="newPicture"  value="newPicture" type="file" data-max-size="2098" accept="image/jpeg" onsubmit="(event)=>{
                        if(this.files[0].size > 2097152){
                        event.preventDefault()
                        alert('File is too big!');
                        this.value = '';
                        };
                        };">
            <p class="error" th:if="${pictureError}" th:text="${pictureError}"></p>
        </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Update" />
</form>

</body>
</html>