<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation">
</nav>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 p-5 pe-5">
        <h1 th:replace="fragments :: banner"></h1>
        <hr/>
        <div th:if="${orderInfo}" class="alert alert-success fade show" id="alert" role="alert">
            <strong th:text="${orderInfo}"></strong>
            <button type="button" class="close" onclick="hide();" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <nav class="nav nav-pills">
            <a th:class="${ title.contentEquals('Open Orders') ? 'nav-link active' : 'nav-link' }"  th:href="@{/orders/{farmName}/Open(farmName=${farmName})}">Open Orders</a>
            <a th:class="${ title.contentEquals('Confirmed Orders') ? 'nav-link active' : 'nav-link' }" th:href="@{/orders/{farmName}/Confirmed(farmName=${farmName})}">Confirmed Orders</a>
            <a th:class="${ title.contentEquals('Fulfilled Orders') ? 'nav-link active' : 'nav-link' }" th:href="@{/orders/{farmName}/Fulfilled(farmName=${farmName})}">Fulfilled Orders</a>
            <a th:class="${ title.contentEquals('All Orders') ? 'nav-link active' : 'nav-link' }" th:href="@{/orders/{farmName}/All(farmName=${farmName})}">All Orders</a>
        </nav>

        <table class="table table-striped" th:each="order : ${orders}" th:object="${order}">
                <tr>
<!--                    <button class="btn" type="button" th:text="${'Order for: '+order.client.getName()}" th:attr="onclick=|hideOrder('order${order.id}')|" aria-label="Close"></button>-->
                    <th th:text="${'Order for: '+order.client.getName()}"></th>
                    <th th:text="${'Order placed: '+order.localDateTime}"></th>
                    <th th:text="${'Order Number: '+order.id}"></th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Total Price</th>
                    <th>Amount</th>
                </tr>
            <tr th:each="productOrdered : *{orderItems}" th:object="${productOrdered}">
                <td th:text="*{product.name}"></td>
                <td th:text="'$'+*{product.ProductDetails.price*quantity}"></td>
                <td> <p th:text="*{quantity + ' ' + product.measurementCategory.name}"></p></td>
            </tr>
            <tr>
                <td colspan="2" th:text="${'Total Amount $'+order.totalAmount}" class="font-weight-bold"></td>
                <td>
                    <form th:if="${!order.confirmed}" method="post" th:action="@{/orders/confirm}" >
                        <input type="hidden" name="id" th:value="${order.id}">
                        <input type="hidden" name="farmName" th:value="${farmName}">
                        <input type="submit" value="Confirm" class="btn btn-primary">
                    </form>
                    <button th:if="${order.confirmed}" class="btn btn-secondary" disabled>Confirmed</button>
                    <form th:if="${!order.fulfilled}" method="post" th:action="@{/orders/fulfilled}" >
                        <input type="hidden" name="id" th:value="${order.id}">
                        <input type="hidden" name="farmName" th:value="${farmName}">
                        <input type="submit" value="Fulfill" class="btn btn-success">
                    </form>
                    <form th:if="${order.fulfilled}" method="post" th:action="@{/orders/fulfilled}" >
                        <input type="hidden" name="id" th:value="${order.id}">
                        <input type="hidden" name="farmName" th:value="${farmName}">
                        <input type="submit" value="Set As Not Filled" class="btn btn-danger">
                    </form>
                </td>
            </tr>
                <br>
        </table>


    </div>
</div>
<script type="text/javascript">
    function hide() {
        var x = document.getElementById("alert");
        x.style.display = "none";
    }
</script>
<footer th:replace="fragments :: footer">
</footer>
</body>
</html>