<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation">
</nav>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 p-5 pe-5">
        <h1 th:replace="fragments :: banner"></h1>
        <hr/>

        <form  method="post">
            <label >Product Info:</label>
            <input type="text" id="info" name="info">

            <input type="submit" value="Search">
            <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />

        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Product Category</th>
                <th>Product Description</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tr th:each="product : ${products}" th:object="${product}">
                <td><img th:if="${product.productDetails.picture != null}" th:src="@{'/'+*{productDetails.picture}}" th:alt="*{'Picture of'+name}" width="90" height="100"/></td>
                <td th:text="*{name}"></td>
                <td th:text="*{productCategory}"></td>
                <td th:text="*{ProductDetails.description}"></td>
                <td th:text="'$'+*{ProductDetails.price}"></td>
                <td th:text="*{ ProductDetails.quantity+' '+measurementCategory.name }"></td>
                <td>
                    <a th:href="@{/farmer/edit/{productToEditId}(productToEditId=${product.id})}">Edit</a>
                </td>
            </tr>
        </table>

        <ul class="pagination">
            <li th:class="${products.first ? 'disabled' : ''}">
                <a th:if="${not products.first}" th:href="@{/farmer/products(page=0)}">&laquo;</a>
            </li>
            <li>
                <a th:if="${not products.last}" th:href="@{/farmer/products(page=${products.number + 1})}">Next Page </a>
            </li>
            <li th:class="${products.last ? 'disabled' : ''}">
                <a th:if="${not products.last}" th:href="@{/farmer/products(page=${products.totalPages - 1})}">&raquo;</a>
            </li>
        </ul>


        <script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/farmer/products}]]";
    }
</script>
    </div>
</div>
<footer th:replace="fragments :: footer">
</footer>
</body>
</html>