<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation">
</nav>


<span class="card bg-transparent text-white" th:each="farm : ${user}" th:object="${farm}">
    <img th:if="*{picture != null}" th:src="@{'/'+*{picture}}" th:alt="'Picture of '+*{farmName}" style="width:600px;"  class="img-thumbnail" >
    <img th:unless="*{picture != null}" th:alt="'Picture of '+*{farmName}" style="width:600px;" title="" class="img-thumbnail" th:src="@{/assets/img/profilePlaceholder.jpg}">
    <div class="card-img-overlay">
        <h1 class="card-title" th:text="${farm.farmName}"></h1>
        <a th:href="@{/store/{farmName}(farmName=${farm.farmName})}" class="btn btn-primary">Go to store</a>
    </div>
</span>


</body>
<footer th:replace="fragments :: footer"></footer>
</html>
