<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
    <nav th:replace="fragments :: navigation">
    </nav>

    <div class="container">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Register Account</h4>
            <p class="text-center">Get started with your free account</p>
            <form method="post" th:object="${loginFormDTO}">
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-md-email"></i>   <input name="" class="form-control" placeholder="Email Address" type="text" th:for="username" th:field="*{email}"></span>

                    </div>
                    <small class="error form-text text-muted" th:errors="*{email}"></small>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-oct-key_asterisk"></i>   <input name="" class="form-control" placeholder="Password" type="password" th:field="*{password}"></span>

                    </div>
                    <small class="error form-text text-muted" th:errors="*{password}"></small>
                </div>
                <br>
                <div class="text-center"><input type="submit" class="btn btn-primary" value="Login" /></div>
            </form>
            <h6 class="text-center"><br>Don't have an account? if Farmer <br><a href="/register">Register for one here</a></h6>
            <h6 class="text-center"><br>Don't have an account? if Client<br><a href="/registerClient">Register for one here</a></h6>

        </article>        </div>

    </div>

    <footer th:replace="fragments :: footer">
    </footer>
</body>
</html>