<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
    <nav th:replace="fragments :: navigation">
    </nav>
    <div class="container">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Register Account</h4>
            <p class="text-center">Get started with your free account</p>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block"><i class="nf nf-fa-twitter"></i>   Login via Twitter</button>
                   
                <button type="submit" class="btn btn-primary btn-block"><i class="nf nf-fa-facebook"></i>   Login via Facebook</button>
            </div>
            <hr>
            <h6 class="text-center">OR</h6>

            <form method="post" th:object="${registerFormDTO}">
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-fa-user"></i>   <input name="" class="form-control" placeholder="Farm Name" type="text" th:field="*{farmName}"></span>
                        <p class="error" th:errors="*{farmName}"></p>
                    </div>
                </div>
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="nf nf-fa-user"></i>   <input name="" class="form-control" placeholder="First Name" type="text" th:field="*{firstName}">
                        <input name="" class="form-control" placeholder="Last Name" type="text" th:field="*{lastName}"></span>
                        <p class="error" th:errors="*{firstName}"></p>
                        <p class="error" th:errors="*{lastName}"></p>
                    </div>
                </div>
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-cod-location"></i>   <input name="" class="form-control" placeholder="Address" type="text" th:field="*{address}"></span>
                        <p class="error" th:errors="*{address}"></p>
                    </div>
                </div>
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-cod-location"></i>   <input name="" class="form-control" placeholder="City" type="text" th:field="*{city}"></span>
                        <p class="error" th:errors="*{city}"></p>
                    </div>
                </div>
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-cod-location"></i>   <input name="" class="form-control" placeholder="ZIP Code" type="text" th:field="*{zip}"></span>
                        <p class="error" th:errors="*{zip}"></p>
                    </div>
                </div>
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-fa-mobile_phone"></i>   <input name="" class="form-control" placeholder="Phone Number" type="text" th:field="*{phone}"></span>
                        <p class="error" th:errors="*{phone}"></p>
                    </div>
                </div>
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-md-email"></i>   <input name="" class="form-control" placeholder="Email Address" type="text" th:field="*{email}"></span>
                        <p class="error" th:errors="*{email}"></p>
                    </div>
                </div>
                <div class="form-group input-group padding-bottom">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-oct-key_asterisk"></i>   <input name="" class="form-control" placeholder="Password" type="password" th:field="*{password}"></span>
                        <p class="error" th:errors="*{password}"></p>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 150%;"><i class="nf nf-oct-key_asterisk"></i>   <input name="" class="form-control" placeholder="Verify Password" type="password" th:field="*{verifyPassword}"></span>
                        <p class="error" th:errors="*{verifyPassword}"></p>
                    </div>
                </div>
                <br>
                <div class="text-center"><input type="submit" class="btn btn-primary" value="Register" /></div>
                <br>
            </form>
            <p class="text-center">Have an account? <a href="login.html">Log In</a> </p>
        </article>
    </div>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>